
  <!-- /.Detail TEMPLATE -->
<div _ngcontent-c7="" class="row">
  <div _ngcontent-c7="" class="col-md-8">
    <div _ngcontent-c7="" class="card">
      <div _ngcontent-c7="" class="card-header">
        <h5 _ngcontent-c7="" class="title">Detail du Devoir</h5>

          <button [disabled]="!isAdmin()"  mat-stroked-button color="primary" (click)="onClickEdit()">EDIT</button>



      <button mat-stroked-button color="warn" style="margin-left: 1%;" (click)="onDelete()">DELETE</button>
      </div><div _ngcontent-c7="" class="card-body">
        <form _ngcontent-c7="" novalidate="" class="ng-untouched ng-pristine ng-valid">
          <div _ngcontent-c7="" class="row">
            <div _ngcontent-c7="" class="col-md-5 pr-1">
              <div _ngcontent-c7="" class="form-group">
                <label _ngcontent-c7="">Nom de la Matiere</label>
                <input _ngcontent-c7="" class="form-control" disabled="" placeholder="Company" type="text" value="{{assignmentTransmis.nommatiere}}">
              </div></div><div _ngcontent-c7="" class="col-md-3 px-1">
</div></div>
                  <div _ngcontent-c7="" class="row"><div _ngcontent-c7="" class="col-md-6 pr-1">
                    <div _ngcontent-c7="" class="form-group">
                      <label _ngcontent-c7="">Nom de l'eleve</label>
                      <input _ngcontent-c7="" class="form-control" placeholder="Company" disabled="" type="text" value="{{assignmentTransmis.auteur}}">
                    </div></div></div>
                        <div _ngcontent-c7="" class="row"><div _ngcontent-c7="" class="col-md-12"><div _ngcontent-c7="" class="form-group">
                          <label _ngcontent-c7="">Nom du Devoir</label><input _ngcontent-c7="" disabled="" class="form-control" placeholder="Home Address" type="text" value="{{assignmentTransmis.nom}}"></div></div></div><div _ngcontent-c7="" class="row"><div _ngcontent-c7="" class="col-md-4 pr-1"><div _ngcontent-c7="" class="form-group"><label _ngcontent-c7="">Date de Rendu</label><input _ngcontent-c7="" disabled="" class="form-control" placeholder="City" type="text" value="{{assignmentTransmis.dateDeRendu | date}}"></div></div><div _ngcontent-c7="" class="col-md-4 px-1"><div _ngcontent-c7="" class="form-group"><label _ngcontent-c7=""> Est - Rendu ?</label><input _ngcontent-c7="" class="form-control" disabled="" placeholder="Country" type="text" value="{{assignmentTransmis.rendu}}"></div></div>
                       </div><div _ngcontent-c7="" class="col-md-4 px-1"><div _ngcontent-c7="" class="form-group"><label _ngcontent-c7=""> Note de l'eleve</label><input _ngcontent-c7="" disabled="" class="form-control" placeholder="Country" type="text" value="{{assignmentTransmis.note}}/20"></div></div>
<div _ngcontent-c7="" class="row"><div _ngcontent-c7="" class="col-md-12"><div _ngcontent-c7="" class="form-group"><label _ngcontent-c7="">Image representatif de la matiere</label>
  <div> <img 
    mat-card-image style="width:350px"
    src="../../assets/image/{{assignmentTransmis.matiereimage}}"
    alt="Photo of a Shiba Inu"
  /></div>
 
</div>
</div>
</div>
</form>
</div></div></div><div _ngcontent-c7="" class="col-md-4"><div _ngcontent-c7="" class="card card-user"><div _ngcontent-c7="" class="image"><img _ngcontent-c7="" src=""></div><div _ngcontent-c7="" class="card-body"><div _ngcontent-c7="" class="author"><a _ngcontent-c7="" href="#"><img _ngcontent-c7="" style="margin-left: 30%;" class="avatar border-gray" width="150px" height="150px" src="../../assets/image/{{assignmentTransmis.profimage}}"><h5 _ngcontent-c7="" style="margin-left: 30%;" class="title">{{assignmentTransmis.nomprof}}</h5></a><p _ngcontent-c7="" style="" class="description"> Remarque </p></div>
                          <p _ngcontent-c7="" class="description text-center"> {{assignmentTransmis.remarque}} <br _ngcontent-c7=""> eh ben <br _ngcontent-c7="">  </p></div><hr _ngcontent-c7=""><div _ngcontent-c7="" class="button-container">
                            <button _ngcontent-c7="" class="btn btn-neutral btn-icon btn-round btn-lg" href="#"><i _ngcontent-c7="" class="fab fa-facebook-f"></i></button><button _ngcontent-c7="" class="btn btn-neutral btn-icon btn-round btn-lg" href="#"><i _ngcontent-c7="" class="fab fa-twitter"></i></button><button _ngcontent-c7="" class="btn btn-neutral btn-icon btn-round btn-lg" href="#"><i _ngcontent-c7="" class="fab fa-google-plus-g"></i></button></div></div></div></div>