
  <a routerLink="/add" class="ajouterBtn">
    <button mat-flat-button color="accent">
      Ajouter un assignment
    </button>
  </a>
  <h1>Liste des assignments</h1>
  <mat-divider></mat-divider>
  <nav>
    <button mat-raised-button color="primary" (click)="premierePage()">
      Première
    </button>
    <button mat-raised-button color="primary" [disabled]="!hasPrevPage" (click)="pagePrecedente()">
      Prev
    </button>
    <button mat-raised-button color="primary" [disabled]="!hasNextPage" (click)="pageSuivante()">
      Suiv
    </button>
    <button mat-raised-button color="primary" (click)="dernierePage()">
      Dernière
    </button>
  </nav>

  <mat-tab-group>
    <mat-tab label="Rendu"> 
      <mat-list *ngFor="let a of assignmentsR">
          <mat-card  class="example-card">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image" [ngStyle]="{'background-image': 'url(../../assets/image/' +a.profimage+')','background-size': 'cover'}"></div>
              <mat-card-title>{{a.nom}}</mat-card-title>
              <mat-card-subtitle>{{a.auteur}}</mat-card-subtitle>
            </mat-card-header>
            <img
              mat-card-image
              src="../../assets/image/{{a.matiereimage}}"
              alt="Photo of a Shiba Inu"
            />
            <mat-card-content>
              <mat-list-item>
                <mat-divider></mat-divider>
                <p *ngIf="a.rendu; else nonsoumis" appRendu>
                  {{a.nom}}, rendu par l'élève.
                </p>
                <ng-template #nonsoumis>
                  <p appNonRendu>
                    {{a.nom}}, non encore rendu par l'élève.
                  </p>
                </ng-template>
      
              </mat-list-item>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button> <a routerLink="/assignment/{{a.id}}">
                <h3 mat-subheader>Detail
                </h3>
        
              </a></button>
            </mat-card-actions>
          </mat-card>
      </mat-list>

    </mat-tab>
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" #content>
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Veuillez noter cette eleve</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <form   (ngSubmit)="updatenote($event)">

          <div class="modal-body">
            Notez cette personne pour que le devoir soit rendu
            <input type="number" [(ngModel)]="note" name="note">

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="closemodal()" data-dismiss="modal">Annuler</button>
            <button type="submit" class="btn btn-primary">Confirmer</button>
          </div>
        </form>

        </div>
      </div>
    </div>
    <mat-tab label="Non Rendu">
      <div class="example-container">
        <h2>Done</h2>
      
        <div
          cdkDropList
          #doneList="cdkDropList"
          [cdkDropListData]="done"
          [cdkDropListConnectedTo]="[todoList]"
          class="example-list"
          (cdkDropListDropped)="drop($event)">
          <mat-list *ngFor="let b of done" >
            <mat-card  class="example-card" cdkDrag>
              <mat-card-header>
                <div mat-card-avatar class="example-header-image" [ngStyle]="{'background-image': 'url(../../assets/image/' +b.profimage+')','background-size': 'cover'}"></div>
                <mat-card-title>{{b.nom}}</mat-card-title>
                <mat-card-subtitle>{{b.auteur}}</mat-card-subtitle>
              </mat-card-header>
              <img
                mat-card-image
                src="../../assets/image/{{b.matiereimage}}"
                alt="Photo of a Shiba Inu"
              />
              <mat-card-content>
                <mat-list-item>
                  <mat-divider></mat-divider>
                  <p *ngIf="b.rendu; else nonsoumis" appRendu>
                    {{b.nom}}, rendu par l'élève.
                  </p>
                  <ng-template #nonsoumis>
                    <p appNonRendu>
                      {{b.nom}}, non encore rendu par l'élève.
                    </p>
                  </ng-template>
        
                </mat-list-item>
              </mat-card-content>
              <mat-card-actions>
                <button mat-button> <a routerLink="/assignment/{{b.id}}">
                  <h3 mat-subheader>Detail
                  </h3>
          
                </a></button>
              </mat-card-actions>
            </mat-card>
        </mat-list>
        </div>
      </div>
      <div
    cdkDropList
    #todoList="cdkDropList"
    [cdkDropListData]="assignmentsNR"
    [cdkDropListConnectedTo]="[doneList]"
    class="example-list"
    (cdkDropListDropped)="drop($event)">
      <mat-list *ngFor="let a of assignmentsNR" >
        <mat-card  class="example-card" cdkDrag>
          <mat-card-header>
            <div mat-card-avatar class="example-header-image" [ngStyle]="{'background-image': 'url(../../assets/image/' +a.profimage+')','background-size': 'cover'}"></div>
            <mat-card-title>{{a.nom}}</mat-card-title>
            <mat-card-subtitle>{{a.auteur}}</mat-card-subtitle>
          </mat-card-header>
          <img
            mat-card-image
            src="../../assets/image/{{a.matiereimage}}"
            alt="Photo of a Shiba Inu"
          />
          <mat-card-content>
            <mat-list-item>
              <mat-divider></mat-divider>
              <p *ngIf="a.rendu; else nonsoumis" appRendu>
                {{a.nom}}, rendu par l'élève.
              </p>
              <ng-template #nonsoumis>
                <p appNonRendu>
                  {{a.nom}}, non encore rendu par l'élève.
                </p>
              </ng-template>
    
            </mat-list-item>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button> <a routerLink="/assignment/{{a.id}}">
              <h3 mat-subheader>Detail
              </h3>
      
            </a></button>
          </mat-card-actions>
        </mat-card>
    </mat-list>

  </div>
 
    </mat-tab>

  </mat-tab-group>

  
